<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Karavanium: Contact <?= $block->getPageApplicationUrl(); ?></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta property="og:title" content="<?= $block->getPageTitle(); ?>">
    <meta property="og:image" content="<?= $block->getPageImageUrl(); ?>">
    <meta property="og:site_name" content="Karavanium">
    <meta property="og:description" content="<?= $block->getPageDescription(); ?>">

    <meta property="al:android:url" content="<?= $block->getPageApplicationUrl(); ?>">
    <meta property="al:android:app_name" content="Karavanium">
    <meta property="al:android:package" content="org.karavanium">

    <link rel="shortcut icon" href="<?= $this->getViewFileUrl('Emagicone_Karavaniumconnector::img/karavanium.png'); ?>" type="image/x-icon" />
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet" type="text/css">
    <link href="<?= $this->getViewFileUrl('Emagicone_Karavaniumconnector::css/bootstrap.min.css'); ?>" rel="stylesheet">
    <link href="<?= $this->getViewFileUrl('Emagicone_Karavaniumconnector::css/karavanium.css'); ?>" rel="stylesheet" media="screen">
</head>
<body>
<div class="tgme_page_wrap">
    <a class="tgme_head_dl_button" href="//play.google.com/store/apps/details?id=com.karavanium" style="background: #d75f07">
        Don't have <strong>Karavanium</strong> application yet? Try it now!<i class="tgme_icon_arrow"></i>
    </a>
    <div class="tgme_page tgme_page_post">
        <div class="tgme_page_photo">
            <a href="<?= $block->getPageApplicationUrl(); ?>">
                <img class="tgme_page_photo_image" src="<?php echo !empty($block->getPageImageUrl())
                    ? $block->getPageImageUrl()
                    : $this->getViewFileUrl('Emagicone_Karavaniumconnector::img/karavanium.png'); ?>">
            </a>
        </div>
        <div class="tgme_page_title">
            <?= $block->getPageTitle(); ?>
        </div>
        <div class="tgme_page_extra"><?= $block->getPageAdditionalInfo(); ?></div>
        <div class="tgme_page_description"><?= $block->getPageDescription(); ?></div>
        <div class="tgme_page_action">
            <a class="tgme_action_button_new" href="<?= $block->getPageApplicationUrl(); ?>">View <?= $block->getPageEntity(); ?></a>
        </div>
        <!-- WEBOGRAM_BTN -->
        <div class="tgme_page_additional">
            If you have <strong>Karavanium</strong> application, you can view and subscribe <br><strong><?= $block->getPageTitle(); ?></strong> right away.
        </div>
    </div>
</div>

<div id="tgme_frame_cont"></div>

<script type="text/javascript">

    var protoUrl = "<?= $block->getPageApplicationUrl(); ?>";
    if (false) {
        var iframeContEl = document.getElementById('tgme_frame_cont') || document.body;
        var iframeEl = document.createElement('iframe');
        iframeContEl.appendChild(iframeEl);
        var pageHidden = false;
        window.addEventListener('pagehide', function () {
            pageHidden = true;
        }, false);
        window.addEventListener('blur', function () {
            pageHidden = true;
        }, false);
        if (iframeEl !== null) {
            iframeEl.src = protoUrl;
        }
        !false && setTimeout(function() {
            if (!pageHidden) {
                window.location = protoUrl;
            }
        }, 2000);
    }
    else if (protoUrl) {
        setTimeout(function() {
            window.location = protoUrl;
        }, 100);
    }

</script>
</body>
</html>
