<?php
/**
 *    This file is part of Karavanium Connector.
 *
 *   Karavanium Connector is free software: you can redistribute it and/or modify
 *   it under the terms of the GNU General Public License as published by
 *   the Free Software Foundation, either version 3 of the License, or
 *   (at your option) any later version.
 *
 *   Karavanium Connector is distributed in the hope that it will be useful,
 *   but WITHOUT ANY WARRANTY; without even the implied warranty of
 *   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *   GNU General Public License for more details.
 *
 *   You should have received a copy of the GNU General Public License
 *   along with Karavanium Connector.  If not, see <http://www.gnu.org/licenses/>.
 */
?>
<div class="karavaniumconnector_permissions_mass_checked" style="text-align: right">
    <button id="karavaniumconnector_permissions_btn_mass_checked" checked_all="false">Check All</button>
</div>
<script>
    require([
        'jquery'
    ], function($) {
        var button = $('#karavaniumconnector_permissions_btn_mass_checked');

        setPermissionsButtonName(isPermissionsCheckedAll());

        button.click(function() {
            var value = true;

            if (button.attr('checked_all') == "true") {
                value = false;
            }

            $("[name='allowed_actions[]']").each(function() {
                $(this).prop('checked', value);
            });

            setPermissionsButtonName(value);

            return false;
        });

        $(".admin__control-checkbox").click(function() {
            processClick($(this));
        });

        function isPermissionsCheckedAll() {
            var checkedAll = true;

            $("[name='allowed_actions[]']").each(function() {
                if (!$(this).prop('checked')) {
                    checkedAll = false;
                }
            });

            return checkedAll;
        }

        function setPermissionsButtonName(isPermissionsCheckedAll) {
            if (isPermissionsCheckedAll) {
                button.html('Uncheck All');
                button.attr('checked_all', "true");
            } else {
                button.html('Check All');
                button.attr('checked_all', "false");
            }
        }

        function processClick(element) {
            var value_selected                   = element.val();
            var id                               = element.attr('id');
            var prefix                           = id.substring(0, id.lastIndexOf(value_selected));
            var action_products_list             = 'products_list';
            var action_product_details           = 'product_details';
            var action_customers_list            = 'customers_list';
            var action_customer_details          = 'customer_details';
            var action_abandoned_carts_list      = 'abandoned_carts_list';
            var action_abandoned_cart_details    = 'abandoned_cart_details';
            var action_orders_list               = 'orders_list';
            var action_order_details             = 'order_details';
            var action_order_details_pdf         = 'order_details_pdf';
            var action_order_invoice             = 'order_invoice';
            var action_order_ship                = 'order_ship';
            var action_order_cancel              = 'order_cancel';
            var action_order_hold                = 'order_hold';
            var action_order_unhold              = 'order_unhold';
            var action_order_delete_track_number = 'order_delete_track_number';

            if (element.is(':checked')) {
                if (value_selected == action_product_details) {
                    $("#" + prefix + action_products_list).prop("checked", true);
                } else if (value_selected == action_customer_details) {
                    $("#" + prefix + action_customers_list).prop("checked", true);
                } else if (value_selected == action_abandoned_cart_details) {
                    $("#" + prefix + action_abandoned_carts_list).prop("checked", true);
                } else if (value_selected == action_order_details) {
                    $("#" + prefix + action_orders_list).prop("checked", true);
                } else if (
                    value_selected == action_order_details_pdf ||
                    value_selected == action_order_invoice ||
                    value_selected == action_order_ship ||
                    value_selected == action_order_cancel ||
                    value_selected == action_order_hold ||
                    value_selected == action_order_unhold ||
                    value_selected == action_order_delete_track_number
                ) {
                    $("#" + prefix + action_orders_list).prop("checked", true);
                    $("#" + prefix + action_order_details).prop("checked", true);
                }
            } else {
                if (value_selected == action_products_list) {
                    $("#" + prefix + action_product_details).prop("checked", false);
                } else if (value_selected == action_customers_list) {
                    $("#" + prefix + action_customer_details).prop("checked", false);
                } else if (value_selected == action_abandoned_carts_list) {
                    $("#" + prefix + action_abandoned_cart_details).prop("checked", false);
                } else if (value_selected == action_order_details) {
                    $("#" + prefix + action_order_details_pdf).prop("checked", false);
                    $("#" + prefix + action_order_invoice).prop("checked", false);
                    $("#" + prefix + action_order_ship).prop("checked", false);
                    $("#" + prefix + action_order_cancel).prop("checked", false);
                    $("#" + prefix + action_order_hold).prop("checked", false);
                    $("#" + prefix + action_order_unhold).prop("checked", false);
                    $("#" + prefix + action_order_delete_track_number).prop("checked", false);
                } else if (value_selected == action_orders_list) {
                    $("#" + prefix + action_order_details).prop("checked", false);
                    $("#" + prefix + action_order_details_pdf).prop("checked", false);
                    $("#" + prefix + action_order_invoice).prop("checked", false);
                    $("#" + prefix + action_order_ship).prop("checked", false);
                    $("#" + prefix + action_order_cancel).prop("checked", false);
                    $("#" + prefix + action_order_hold).prop("checked", false);
                    $("#" + prefix + action_order_unhold).prop("checked", false);
                    $("#" + prefix + action_order_delete_track_number).prop("checked", false);
                }
            }
        }
    });
</script>
