<?php
/**
 *    This file is part of Mobile Assistant Connector.
 *
 *   Mobile Assistant Connector is free software: you can redistribute it and/or modify
 *   it under the terms of the GNU General Public License as published by
 *   the Free Software Foundation, either version 3 of the License, or
 *   (at your option) any later version.
 *
 *   Mobile Assistant Connector is distributed in the hope that it will be useful,
 *   but WITHOUT ANY WARRANTY; without even the implied warranty of
 *   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *   GNU General Public License for more details.
 *
 *   You should have received a copy of the GNU General Public License
 *   along with Mobile Assistant Connector.  If not, see <http://www.gnu.org/licenses/>.
 */

$basePart = '/adminhtml/Magento/backend/'. (isset($localeCode) ? $localeCode : '') .
    '/Emagicone_Mobassistantconnector/js/qrcode.min.js';
$baseStaticUrl = (isset($urlStatic) ? $urlStatic : '') . $basePart;
$baseStaticWithoutVersionUrl = (isset($urlStaticWithoutVersion) ? $urlStaticWithoutVersion : '') . $basePart;
?>
<html>
<head>
    <meta http-equiv="Pragma" content="no-cache">
    <title>QR-code for Magento Mobile Assistant</title>
    <script type="text/javascript"
            src="<?= $baseStaticUrl ?>">
    </script>
    <script type="text/javascript"
            src="<?= $baseStaticWithoutVersionUrl ?>">
    </script>
    <style media="screen" type="text/css">
        img {
            margin:  auto;
        }
    </style>
</head>
<body>
<table width="100%"><tr><td id="mobassistantconnector_qrcode_img" style="padding: 30px"></td></tr></table>
</body>
</html>